*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
} 

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
}

#loading {
    width: 100%;
    height: 100%;
    background-color: #94949410;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3.0rem;
    color: #000000;
    position: fixed;
}

#conteudo{
    display: none;
}


nav {
    display: flex;
    background-color: #E7F8FF;
    height: 20%;
    width: 100%;
    margin-bottom: 72px;
    font-size: 1.6rem;
}

nav h1{
    text-align: center;
}

nav div{
    display: flex;
    gap: 35px;
    align-items: center;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 28px;
    position: absolute;
    top: 21px;
    right: 19px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: all .3s;
}

nav a:hover{
    font-weight: 700;
}

main{
    max-width: 870px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin: auto;
    margin-bottom: 74px;
    font-size: 1.6rem;
    text-align: center;
}

#sobre_projeto{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

#sobre_projeto h1{
    text-align: center;
}

#tutoriais{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

#videos{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#videos .video_tutoriais{
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
    cursor: pointer;
    overflow: hidden;
    transition: .4s;
}

#videos .video_tutoriais:hover{
    transform: scale(1.2);
    border-color: #71b3da;
}

.poput{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 8);
    height: 100%;
    width: 100%;
    display: none;
}

.poput video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}

.poput span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 5.0rem;
    color: #fff;
    font-weight: bold;
    z-index: 100;
    cursor: pointer;
}

footer{
    font-size: 1.6rem;
    background-color: #5B5050;
    color: #ffffff;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    text-align: center;
}

footer img {
    position: relative;
    left: 5px;
}

#contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.6rem;
}

#contato h1{
    font-size: 3.0rem;
}

#contato section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

#contato section div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

#contato a{
    color: #ffffff;
    text-decoration: none;
}

#contato a:hover{
    text-decoration: underline;
}

#instagram{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 60px;
}



@media (max-width:900px){
    main p{
        max-width: 700px;
        margin: auto;
    }
    
}

@media (max-width:805px){
    #tutoriais{
        gap: 55px;
    }

    #instagram{
        width: 40px;
    }
    
}

@media (max-width: 750px){
    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        background-color: #E7F8FF;
        height: 20%;
        width: 100%;
        margin-bottom: 72px;
    }

    nav ul{
        list-style: none;
        display: flex;
        gap: 28px;
        position: relative;
        text-align: center;
    }

    main p{
        max-width: 500px;
        margin: auto;
    }

    .poput video{
        width: 95%;
    }

    #contato section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
    }
}

@media (max-width: 520px){

    main p{
        max-width: 400px;
        margin: auto;
    }

    footer{
        flex-direction: column;
    }

    #instagram{
        width: 40px;
        bottom: 5%;
    }
}

@media (max-width: 440px){

    nav div{
        flex-direction: column;
    }

    nav{
        justify-content: center;
        gap: 40px;
    }

    main p{
        max-width: 300px;
    }

    #videos .video_tutoriais{
        width: 90%;
    }
}

/* Drawing Page */