*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    background-color: #E7F8FF;
    min-height: 20vh;
    margin-bottom: 72px;
}

nav div{
    display: flex;
    gap: 35px;
    align-items: center;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 28px;
    position: absolute;
    top: 21px;
    right: 19px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: all .3s;
}

nav a:hover{
    font-weight: 700;
}

main{
    max-width: 870px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin: auto;
}

#sobre_projeto{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

#sobre_projeto h1{
    text-align: center;
}

#tutoriais{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

#videos div{
    width: 210px;
    height: 124px;
    background-color: #cfcfcf;
    border-radius: 10px;
}

#videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 71px;
    justify-items: center;
}