*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    background-color: #E7F8FF;
    min-height: 20vh;
    margin-bottom: 72px;
}

nav div{
    display: flex;
    gap: 35px;
    align-items: center;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 28px;
    position: absolute;
    top: 21px;
    right: 19px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: all .3s;
}

nav a:hover{
    font-weight: 700;
}

main{
    max-width: 870px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin: auto;
    margin-bottom: 74px;
}

#sobre_projeto{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

#sobre_projeto h1{
    text-align: center;
}

#tutoriais{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

#videos div{
    width: 210px;
    height: 124px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    cursor: pointer;
    font-weight: bold;
}


#videos div img{
    width: 50px;
    height: 50px;
}

#videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 71px;
    justify-items: center;
}

footer{
    background-color: #5B5050;
    color: #ffffff;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

footer img {
    position: relative;
    left: 5px;
}

#contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contato h1{
    font-size: 30px;
}

#contato section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

#contato section div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

#contato a{
    color: #ffffff;
    text-decoration: none;
}

#contato a:hover{
    text-decoration: underline;
}

#instagram{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 60px;
}